@font-face {
  font-family: 'lato';
  src:
  url('../fonts/lato-regular-webfont.woff2') format('woff2'),
  url('../fonts/lato-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }

@font-face {
  font-family: 'opensans';
  src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
  url('../fonts/opensans-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
#body {
  background-color: white;
  width: 60%;
  margin:0 auto 0px auto;
  font-family: lato;
}

html{
  height:100%;
}

body{
  margin: 0;
  min-height: 100%;
  position: relative;
}

h1, h2, h3 {
  color: #222222;
  font-family:opensans;
  }
p {
  color: #363636;
  font-family:lato;
  line-height:2em;
  }
li {
  line-height:200%;
}
li.inline{
  display: inline;
  margin-right:10px;
}
img.shadow{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
}
img.float-right {
  float: right;
  width: 20%;
  }
em {
  color: darkblue;
}

a{
  color:darkblue;
  font-weight:bold;
}

a:hover {
  background-color:#f7f7f7;
  /* font-size:120%; */
  /* margin:10px; */
}

#profile{
margin-right: 10%;
width: 200px;
max-width: 50%;
}

#nav_ul{
margin-top: 1;
margin-left:0;
padding-left:0;
/* font-size:130%; */
/* float: right; */
}

nav ul{
  text-align: right;
}

.thispage{

  border-bottom:3px solid darkblue;
}

nav ul li a{
  background-color: white;
  color:darkblue;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: darkblue;
  color:white;
  text-decoration: underline;
}



strong.position{
  font-size:120%
}

.section-title{
  padding-top: 30px;
}

.no-newline{
  line-height:80%
}

.foliopic{
  max-width:90%;
}


.flex {
    display: flex;
}

.flex-content{
    flex: 50%;
    padding: 40px;
    align-self:center;
    /* border-style: solid; */

}

.resume{
  padding:10px;
  font-size:70%;
  border-style:solid;
  border-color:darkblue;
  background-color:darkblue;
  color:white;
  text-decoration:none;
}

a.resume:hover{
  border-style:solid;
  border-color:darkblue;
  background-color: white;
  color:darkblue;
}

.endquote{
  font-size:80%;
}

* {
    box-sizing: border-box;
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 8px;
}

/* Create 2 equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
}

.fixed{
  height:15vw;
  object-fit: contain;
  width:100%;
  padding: 20px;
  background-color: black	 !important;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
    .column {
        width: 100%;
    }
    .fixed{
      height:30vh;
      object-fit: contain;
    }
    #body {
      width: 90%;
    }
    #footer{
      height: 120px!important;
    }
}

.spacer{
  height:100px;
  /* background-color: red; */
}

#myname{
  font-size: 300%;
}

#namebox{
  height: 500px;
}

#selectedworks{
  text-align: center;
}

.contactbutton{
  margin-right: 10px;
  width: 30px;
}

.contactbutton:hover{
  opacity: .7;
    transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -webkit-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
}

.contactarea{
  /* border-style: solid; */
  display: inline-block;
  text-align: center;
  left:50%;
  /* padding-top: 15px; */

}

#footer{
  margin-top: 100px;
  font-family: opensans;
  width:100% !important;
  padding: 0;
  height:70px;
  background:#f0f0f0;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright{
  display: inline-block;
  margin: 0 50px 0 50px;
}

.care{
  display: inline-block;
  margin: 0 50px 0 50px;
}

#aboutme{
  width: 60%;
  height: 100%;
  /* border-style: solid; */
  margin: 0 auto 0 auto;

}
